<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <title>About</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>The  site was created by Alexey Shevchuk. It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="./img/photo.jpeg"/>
    <p>Secondary help page by {{name}}</p>
</div>
{{>footer}}
</body>
</html>